@model List<UserDTO>

<div class="container p-4 border">

    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Users</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-controller="Auth" asp-action="GetUsers" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i> Create New Product</a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Username
                </th>
                <th>
                    Role
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.UserName</td>
                    <td>@item.Role</td>
                    <td>
                        <a asp-controller="Auth" asp-action="Details" asp-route-id="@item.Id" class="btn btn-success"><i class="bi bi-pencil-square"></i> User Details</a>
                        <a asp-controller="Auth" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="bi bi-trash-square"></i> Delete User</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>